/*
    Created on : 10.12.2015, 17:58:25
    Author     : petr.melicherik
*/

html.js .jshidden {
    display: none;
}

body {
    background-color: whitesmoke;
    font: 16px/1.5 Georgia, Verdana, Arial;
    padding: 0;
    margin: 0;
    color: #222;
    font-family: Helvetica;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

header {
    width: 1024px;
    height: 100px;
    background-color: #002554;
}

nav {
    height: 50px;
    width: 1024px;
    background-color: #55ddaa;
}

section {
    margin-bottom: 20px;
}

footer {
    float: left;
    width: 1024px;
    height: 50px;
    text-align: center;
    background-color: #991111;
}

#main {
    width: 1024px;
    margin: 0 auto;
}

a {
    text-decoration: underline;
    color: #002554;
}

a[href^="#error:"] {
    background: red;
    color: #990099;
}

td {
    border-collapse: collapse;
    border: 1px solid #aaa;
    margin: 2px;
    padding: 5px;
}

th {
    font-weight: bold;
    background-color: #5C82FF;
    color: white;
}

form th, form td {
    vertical-align: top;
    font-weight: normal;
}

form th {
    text-align: right;
}

form .required label {
    font-weight: bold;
}

form .error {
    color: #D00;
    font-style: italic;
    font-weight: bold;
}

.logo_container {
    width: 488px;
    height: 150px;
    margin: 0 auto;
    padding-top: 40px;
}

#logo {
    width: 488px;
    height: 150px;
}

h1, h2, h3, h4 {
    color: #3484D2;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 2.1em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: left;
}

h3 {
    font-size: 1.4em;
    margin: 0px;
    text-align: left;
}

strong {
    display: block;
    margin-bottom: 10px;
}

ul, li {
    margin: 5px auto 5px auto;
    padding-left: 5px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover {
    background-color: #111;
}

ul {
    margin: 10px;
}

/*h1{*/
    /*color:red;*/
/*}*/
/*body {*/
    /*font-family: sans-serif;*/
/*}*/
